@import "tailwindcss";

:root {
  --primary-color: #0077FF;
  --black-color: #000;
  --grey-color: #4D4D4D;
  --border-color: #B0B4B8;
}

html, body {
  height: 100%;
}

body {
  padding-top: 32px;
  background-color: #EBF0F5;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: var(--black-color);
}

p:not(:last-child) {
  margin-bottom: 16px;
}

button {
  cursor: pointer;
}

input {
  width: 100%;
}

.content-wrapper {
  width: 100%;
  max-width: 375px;
  padding: 8px 16px 16px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
}

.header__inner {
  width: 100%;
  max-width: 375px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.header--inner {
  background-color: #EBF0F5;
}

.header__button-close,
.header__button-back {
  display: none;
}

.header--index .header__button-close {
  display: block;
}

.header--inner .header__button-back {
  display: block;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-group__label {
  font-size: 14px;
  line-height: 1.5;
}

.input-group__label--big {
  font-size: 16px;
  line-height: 1.5;
}

.form-control {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: #fff;
  color: var(--black-color);
}

.primary-button {
  display: block;
  padding: 12px;
  border-radius: 8px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 17px;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

/* Euclid Circular A
600, 300, 500, 400 */